SampleWebServices/webservices/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://benchresources.in/entities/music" xmlns:tns="http://benchresources.in/services/MusicService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MusicService" targetNamespace="http://benchresources.in/services/MusicService/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://benchresources.in/entities/music" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://benchresources.in/entities/music" version="1.0">
            <xs:element name="BusinessFaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorCode" type="xs:int"/>
                        <xs:element name="errorMessage" type="xs:string"/>
                        <xs:element name="errorDescription" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MovieListType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="tns:MovieType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MovieType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="movieName" type="xs:string"/>
                        <xs:element name="year" type="xs:string"/>
                        <xs:element name="director" type="xs:string"/>
                        <xs:element name="comments" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MusicListRequestType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="composerName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MusicListResponseType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="composer" type="xs:string"/>
                        <xs:element ref="tns:MovieListType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllMovieDetailByComposerResponse">
        <wsdl:part element="ns1:MusicListResponseType" name="parameters">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part element="ns1:BusinessFaultType" name="BusinessException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllMovieDetailByComposer">
        <wsdl:part element="ns1:MusicListRequestType" name="parameters">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IMusicService">
        <wsdl:operation name="getAllMovieDetailByComposer">
            <wsdl:input message="tns:getAllMovieDetailByComposer" name="getAllMovieDetailByComposer">
    </wsdl:input>
            <wsdl:output message="tns:getAllMovieDetailByComposerResponse" name="getAllMovieDetailByComposerResponse">
    </wsdl:output>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MusicServiceSoapBinding" type="tns:IMusicService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAllMovieDetailByComposer">
            <soap:operation soapAction="http://benchresources.in/services/MusicService/getAllMovieDetailByComposer" style="document"/>
            <wsdl:input name="getAllMovieDetailByComposer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllMovieDetailByComposerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MusicService">
        <wsdl:port binding="tns:MusicServiceSoapBinding" name="MusicServicePort">
            <soap:address location="http://localhost:8080/ApacheCXF-JAX-WS-Top-Down-Spring-Hibernate/services/music/MusicService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>