sampleproj/schemas/Input.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/sampleproj/schemas/Input.xsd"
	 targetNamespace="http://www.tibco.com/schemas/sampleproj/schemas/Input.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Addition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="number1" type="xs:int"/>
				<xs:element name="number2" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>