SOAPTestProj/SOAPTestProj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd2" xmlns:tns="http://xmlns.example.com/1489921939858" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1489921939858">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="GetCustomerDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomerNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SOAPTestProj/Schema/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="CustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomerName" type="xs:string"/>
                        <xs:element name="ContactLastName" type="xs:string"/>
                        <xs:element name="ContactFirstName" type="xs:string"/>
                        <xs:element name="Phone" type="xs:string"/>
                        <xs:element name="AddressLine1" type="xs:string"/>
                        <xs:element name="AddressLine2" type="xs:string"/>
                        <xs:element name="City" type="xs:string"/>
                        <xs:element name="State" type="xs:string"/>
                        <xs:element name="PostalCode" type="xs:string"/>
                        <xs:element name="Country" type="xs:string"/>
                        <xs:element name="CreditLimit" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CustomerDetails-service0">
        <wsdl:port name="PortTypeEndpoint0" binding="tns:PortTypeEndpoint0Binding">
            <soap:address location="http://localhost:8085/WebServices/CustomerDetails-service0.serviceagent/PortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="GetCustomerDetails">
            <wsdl:input message="tns:RequestMessage"/>
            <wsdl:output message="tns:ResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortTypeEndpoint0Binding" type="tns:PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCustomerDetails">
            <soap:operation style="document" soapAction="/WebServices/CustomerDetails-service0.serviceagent/PortTypeEndpoint0/GetCustomerDetails"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="RequestMessage">
        <wsdl:part name="part1" element="ns0:GetCustomerDetails"/>
    </wsdl:message>
    <wsdl:message name="ResponseMessage">
        <wsdl:part name="part1" element="ns1:CustomerResponse"/>
    </wsdl:message>
</wsdl:definitions>